/* My First Website Ever */

/* Kübra Çetinkaya - January 2020  */


* {
    margin: 10;
    padding: 0;

}

body {
    font-family: 'Montserrat', 'Lato';
    font-size: 10px;
    color: #7F7F7F;
    line-height: 135%;
    background: #FFFF;

}

#nav {
    background-color: #fff;
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    font-size: 55px;
    margin-top: 20px;

}


#nav li a {
    color: rgb(158, 157, 157);
    text-decoration: none;
    padding: 180px;

}


h2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 400;

}

.container {
    width: 1000px;
    background-color: rgb(255, 255, 255);
}

#blog-post-container {
    width: 65%;
    margin: auto;
}

.blog-title {
    font-weight: 700;
    font-size: 15px;
    text-align: right;
}

.blog-text {
    font-size: 10px;
    line-height: 22px;
    text-align: justify;

}

.blog-title a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s;
}

.blog-title a:hover {
    color: #7F7F7F;
}

.p20 {
    padding: 20px;
}

.mt20 {
    margin-top: 20px;

}

.box {
    background: #FFFF;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 2px rgba(96, 99, 102, 0.15);

}

.blog-post img {
    width: 100%;
    width: 313.9px;
    height: 313.9px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

.blog-post img:hover {
    opacity: 0.8;
    cursor: pointer;
}


.author-text {
    margin-left: 10px;
    text-align: center;
}


h4 {
    font-size: 17px;
    padding: 15px;
    margin-left: 10px;
    text-align: center;
}

#second a {
    margin: 80px;
    padding: 50px 5px;
    color: gray;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0.9;


}

#second a:hover {
    opacity: 0.6;

}

#second .tags {
    background: #FFFF;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 20px;
}

.btn-light {
    border: 1px;
    background-color: #fff;
    color: gray;
    font-size: 10px;
}

#blog-post-container-about {
    width: 70%;
    margin: auto;
}

.footer img {
    display: absolute;
    float: right;
    width: 25%;
    height: 300px;
}

.foot img {
    display: relative;
    float: left;
    width: 20%;
    height: 300px;
}

#comment {
    width: 50%;
    margin-left: 230px;
    border: transparent;
    box-shadow: 0 2px 8px 2px rgba(96, 99, 102, 0.15);
    border-radius: 5px;

}

input[type=submit] {
    margin-left: 410px;
    padding: 16px 32px;
    background-color: #fff;
    color: gray;
    border: transparent;
    text-decoration: none;
    cursor: pointer;
    float: inline-start;


}
